# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Windows scripts should use CRLF
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

# Unix scripts should use LF
*.sh text eol=lf
