  {
    symbol: "104540",
    names: {
      ko: ["코렌텍"],
      en: ["Corentec Co. Ltd."]
    },
    description: "Corentec Co. Ltd.",
    type: "Common Stock"
  },
  {
    symbol: "3858",
    names: {
      zh: ["佳鑫國際資源投資"],
      en: ["Jiaxin International Resources Investment"]
    },
    description: "Jiaxin International Resources Investment",
    type: "Common Stock"
  },
  {
    symbol: "600749",
    names: {
      zh: ["西藏旅游公司"],
      en: ["Tibet Tourism"]
    },
    description: "Tibet Tourism",
    type: "Common Stock"
  },
  {
    symbol: "6516.T",
    names: {
      zh: ["山洋電氣"],
      ja: ["山洋電気"],
      en: ["Sanyo Denki"]
    },
    description: "Sanyo Denki",
    type: "Common Stock"
  },
  {
    symbol: "7790",
    names: {
      ja: ["バルコス"],
      en: ["Barcos"]
    },
    description: "Barcos",
    type: "Common Stock"
  },
  {
    symbol: "DEKEQ.L",
    names: {
      zh: ["迪克動畫"],
      ja: ["DICエンターテイメント"],
      ko: ["DIC 엔터테인먼트"],
      en: ["DIC Entertainment Corporation"]
    },
    description: "DIC Entertainment Corporation",
    type: "Common Stock"
  },
  {
    symbol: "SLM",
    names: {
      ja: ["サリー・メイ"],
      ko: ["Sallie Mae"],
      en: ["Sallie Mae"]
    },
    description: "Sallie Mae",
    type: "Common Stock"
  },
  {
    symbol: "SXGE",
    names: {
      ja: ["スイスパフォーマンス指数"],
      en: ["Swiss Performance Index"]
    },
    description: "Swiss Performance Index",
    type: "Common Stock"
  },
  {
    symbol: "SZ000582",
    names: {
      zh: ["北部湾港"],
      en: ["Q10904015"]
    },
    description: "Q10904015",
    type: "Common Stock"
  },